.ui.modal > .content {
  background-color: black;
}

.ui.modal > .actions {
  background-color: black;
}

.ui.modal > .header {
  background-color: black;
  color: white;
  text-align: center;
}

.ui.toggle.checkbox label {
  color: white;
}

@media only screen and (max-width: 767px) {
  .ui.modal .actions > .button,
  .ui.modal .actions > .buttons {
    margin-bottom: 0 !important;
  }
}
