.ui.modal > .content {
  background-color: black;
}

.ui.modal > .actions {
  background-color: black;
}

.ui.modal > .header {
  background-color: black;
  color: white;
  text-align: center;
}

.ui.toggle.checkbox label {
  color: white;
}
