.carousel .slider {
  margin-left: -1%;
  margin-right: -1%;
  width: 102%;
}

.image {
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.carousel :first-child {
  animation: fadein 2s;
  border: '3px solid red';
}

.carousel .control-dots {
  margin: 0;
}

.carousel .control-dots .dot {
  margin: 10px;
  width: 11px;
  height: 11px;
}

.carousel .thumb {
  border: none;
  height: 40px;
}

.carousel .thumb.selected {
  border-color: white;
}

.carousel .thumbs-wrapper {
  margin: 10px 0 !important;
}
