.App {
  text-align: center;
  background-image: url('/images/IMG_20200520_203935802_HDR.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 1000px;
}
